.about-header {
  text-align: center;
  margin-top: 2rem;
}
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem 0;
}
.partner {
  text-align: center;
  max-width: 200px;
}
.partner img {
  width: 100px;
  margin-bottom: 0.5rem;
}
